In [1]:
import pandas as pd
import mysql.connector as sql

In [2]:
db=pd.read_csv('DS1_C4_S6_House_Prices_Data_Challenge.csv')

## Task1:

In [3]:
T1=db[(db['LotArea']>=6000)&(db['LotConfig']=='Corner')]

In [4]:
from sqlalchemy import create_engine

hostname="localhost"
dbname="C6" 
uname="root"
pwd="Abhishek%40567"

engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
.format(host=hostname, db=dbname, user=uname, pw=pwd))

T1.to_sql('Task_1',engine,index=False)

C:\Users\as826\anaconda3\lib\site-packages\pandas\io\sql.py:1666: UserWarning: The provided table name 'Task_1' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

241

## Task2:

In [5]:
T2=db[(db['BldgType']=='1Fam')&(db['HouseStyle']=='1Story')&(db['LandContour']=='Lvl')]

In [6]:
hostname="localhost"
dbname="C6" 
uname="root"
pwd="Abhishek%40567"

engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
.format(host=hostname, db=dbname, user=uname, pw=pwd))

T2.to_sql('Task_2',engine,index=False)

C:\Users\as826\anaconda3\lib\site-packages\pandas\io\sql.py:1666: UserWarning: The provided table name 'Task_2' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

545

## Task3:

In [7]:
T3=db[(db['BldgType']=='TwnhsE')]

In [8]:
hostname="localhost"
dbname="C6" 
uname="root"
pwd="Abhishek%40567"

engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
.format(host=hostname, db=dbname, user=uname, pw=pwd))

T3.to_sql('Task_3',engine,index=False)

C:\Users\as826\anaconda3\lib\site-packages\pandas\io\sql.py:1666: UserWarning: The provided table name 'Task_3' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

114

## Task4:

In [9]:
T4=db[(db['BedroomAbvGr']>=3)&(db['TotalBsmtSF']>0)&(db['Exterior1st']=='CemntBd')&(db['Exterior2nd']=='CmentBd')]

In [10]:
hostname="localhost"
dbname="C6" 
uname="root"
pwd="Abhishek%40567"

engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
.format(host=hostname, db=dbname, user=uname, pw=pwd))

T4.to_sql('Task_4',engine,index=False)

C:\Users\as826\anaconda3\lib\site-packages\pandas\io\sql.py:1666: UserWarning: The provided table name 'Task_4' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

42

## Task5:

In [11]:
T5=db[(db['GarageArea']>=500)]

In [12]:
hostname="localhost"
dbname="C6" 
uname="root"
pwd="Abhishek%40567"

engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
.format(host=hostname, db=dbname, user=uname, pw=pwd))

T5.to_sql('Task_5',engine,index=False)

C:\Users\as826\anaconda3\lib\site-packages\pandas\io\sql.py:1666: UserWarning: The provided table name 'Task_5' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

635