In [4]:
import numpy as np
import pandas as pd

### Task1:

In [5]:
price = [80121, 48483, 37077, 30660, 68536, 52666, 78703, 51036, 55643, 56990, 39967, 93822, 51406, 93947, 78373, 62765, 47536, 40528, 58780, 83197]

In [6]:
cars=pd.Series(price,index=np.arange(101,121))
print(cars)

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
dtype: int64

### Task2:

In [7]:
print("Index and price of highest priced car is below: ")
print(cars.idxmax())
print(cars.max())

Index and price of highest priced car is below:
114
93947

In [8]:
print("Index and price of lowest priced car is below: ")
print(cars.idxmin())
print(cars.min())

Index and price of lowest priced car is below:
104
30660

### Task3:

In [9]:
top5=cars.sort_values().tail()
print(top5)

107    78703
101    80121
120    83197
112    93822
114    93947
dtype: int64

### Task4:

In [10]:
a=cars[(cars>=30000)&(cars<=40000)]
print(a)
print()
print("The Count of these car is: ",a.size)

103    37077
104    30660
111    39967
dtype: int64

The Count of these car is:  3

### Task5:

In [11]:
avg=cars.mean()
a=cars[(cars>avg)]
print(a)
print()
print("The count of cars priced above average price is: ",a.size)

101    80121
105    68536
107    78703
112    93822
114    93947
115    78373
116    62765
120    83197
dtype: int64

The count of cars priced above average price is:  8

### Task6:

In [12]:
indexes=[201,202,203]
prices=[34000,45000,54000]
cars2=pd.Series(prices,indexes)
new_cars=pd.concat([cars,cars2])
print(new_cars)

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
201    34000
202    45000
203    54000
dtype: int64

### Task7:

In [13]:
a=new_cars[new_cars>=60000]
discount=a*0.80

In [14]:
b=pd.DataFrame({'Price before discount' : a,'price after discount':discount})
b

     Price before discount  price after discount
101                  80121               64096.8
105                  68536               54828.8
107                  78703               62962.4
112                  93822               75057.6
114                  93947               75157.6
115                  78373               62698.4
116                  62765               50212.0
120                  83197               66557.6

### Task8:

In [25]:
new=new_cars.drop(new_cars[new_cars.isin(a)].index)
print(new)

102    48483
103    37077
104    30660
106    52666
108    51036
109    55643
110    56990
111    39967
113    51406
117    47536
118    40528
119    58780
201    34000
202    45000
203    54000
dtype: int64

In [26]:
print("The number of cars that were available at first place was: ",new_cars.size)

The number of cars that were available at first place was:  23

In [27]:
print("The number of cars after sale is: ",new.size)

The number of cars after sale is:  15