In [1]:
import numpy as np

In [2]:
emp=np.genfromtxt('DS1_C4_S1_Employee_Data_Challenge.csv',delimiter=',',skip_header=1)

### Task1:

In [9]:
average_age=np.mean(emp[:,1])
print(average_age)

28.26

### Task2:

In [27]:
index=np.where(emp[:,1]>25)
ID=emp[:,0][index]
print(ID)
count=ID.size
print()
print("The count of employees above 25 years of age is:", count)

[ 2.  3.  4.  5.  6.  7.  9. 10. 11. 12. 14. 15. 16. 17. 20. 21. 22. 24.
 25. 26. 27. 28. 29. 30. 31. 32. 33. 37. 38. 40. 41. 42. 43. 44. 45. 46.
 49. 50.]

The count of employees above 25 years of age is: 38

### Task3:

In [33]:
index=np.where((emp[:,1]<=35)&(emp[:,1]>=30))
id=emp[:,0][index]
print(id)
print()
print("The total number of employees who are in age group 30-35 are: ",id.size)

[ 3. 10. 15. 16. 32. 41. 42. 43. 44. 45. 49. 50.]

The total number of employees who are in age group 30-35 are:  12