In [1]:
import numpy as np
import pandas as pd

### Task1:

In [2]:
id=np.arange(1001,1041)

In [3]:
id

array([1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011,
       1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022,
       1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033,
       1034, 1035, 1036, 1037, 1038, 1039, 1040])

In [4]:
a=pd.Series(id,index=np.arange(1,len(id)+1))
print(a)

1     1001
2     1002
3     1003
4     1004
5     1005
6     1006
7     1007
8     1008
9     1009
10    1010
11    1011
12    1012
13    1013
14    1014
15    1015
16    1016
17    1017
18    1018
19    1019
20    1020
21    1021
22    1022
23    1023
24    1024
25    1025
26    1026
27    1027
28    1028
29    1029
30    1030
31    1031
32    1032
33    1033
34    1034
35    1035
36    1036
37    1037
38    1038
39    1039
40    1040
dtype: int32

### Task2:

In [5]:
maths_marks=[35, 86, 63, 90, 50, 63, 15, 72, 15, 54, 72, 83, 58, 70, 92, 40, 59, 63, 53, 59, 55, 85, 18, 83, 67, 85, 46, 59, 77, 71, 77, 56, 79, 61, 82, 76, 60, 52, 88, 78]
physics_marks=[85, 94, 63, 59, 76, 64, 87, 55, 51, 71, 54, 94, 33, 72, 75, 67, 85, 15, 50, 50, 19, 55, 59, 65, 76, 13, 57, 70, 51, 94, 55, 50, 71, 91, 75, 51, 90, 70, 87, 56]

In [6]:
m=pd.Series(maths_marks,index=a)
p=pd.Series(physics_marks,index=a)

In [7]:
print(m)
print()
print(p)

1001    35
1002    86
1003    63
1004    90
1005    50
1006    63
1007    15
1008    72
1009    15
1010    54
1011    72
1012    83
1013    58
1014    70
1015    92
1016    40
1017    59
1018    63
1019    53
1020    59
1021    55
1022    85
1023    18
1024    83
1025    67
1026    85
1027    46
1028    59
1029    77
1030    71
1031    77
1032    56
1033    79
1034    61
1035    82
1036    76
1037    60
1038    52
1039    88
1040    78
dtype: int64

1001    85
1002    94
1003    63
1004    59
1005    76
1006    64
1007    87
1008    55
1009    51
1010    71
1011    54
1012    94
1013    33
1014    72
1015    75
1016    67
1017    85
1018    15
1019    50
1020    50
1021    19
1022    55
1023    59
1024    65
1025    76
1026    13
1027    57
1028    70
1029    51
1030    94
1031    55
1032    50
1033    71
1034    91
1035    75
1036    51
1037    90
1038    70
1039    87
1040    56
dtype: int64

### Task3:

In [8]:
total_score=m+p

In [9]:
pd.Series(total_score)

1001    120
1002    180
1003    126
1004    149
1005    126
1006    127
1007    102
1008    127
1009     66
1010    125
1011    126
1012    177
1013     91
1014    142
1015    167
1016    107
1017    144
1018     78
1019    103
1020    109
1021     74
1022    140
1023     77
1024    148
1025    143
1026     98
1027    103
1028    129
1029    128
1030    165
1031    132
1032    106
1033    150
1034    152
1035    157
1036    127
1037    150
1038    122
1039    175
1040    134
dtype: int64

### Task4:

In [10]:
qualify=total_score[total_score>=120]
print(qualify.index)

Int64Index([1001, 1002, 1003, 1004, 1005, 1006, 1008, 1010, 1011, 1012, 1014,
            1015, 1017, 1022, 1024, 1025, 1028, 1029, 1030, 1031, 1033, 1034,
            1035, 1036, 1037, 1038, 1039, 1040],
           dtype='int64')

### Task5:

In [11]:
a=pd.DataFrame({'Round 1 Qualifiers':qualify})

In [13]:
a

      Round 1 Qualifiers
1001                 120
1002                 180
1003                 126
1004                 149
1005                 126
1006                 127
1008                 127
1010                 125
1011                 126
1012                 177
1014                 142
1015                 167
1017                 144
1022                 140
1024                 148
1025                 143
1028                 129
1029                 128
1030                 165
1031                 132
1033                 150
1034                 152
1035                 157
1036                 127
1037                 150
1038                 122
1039                 175
1040                 134

### Task6:

In [17]:
math=m[m>=50]
physics=p[p>=50]

In [23]:
qualify2=qualify.index.intersection(math.index).intersection(physics.index)

In [25]:
b=pd.DataFrame({'Round 2 Qualifiers':qualify2})

In [26]:
b

    Round 2 Qualifiers
0                 1002
1                 1003
2                 1004
3                 1005
4                 1006
5                 1008
6                 1010
7                 1011
8                 1012
9                 1014
10                1015
11                1017
12                1022
13                1024
14                1025
15                1028
16                1029
17                1030
18                1031
19                1033
20                1034
21                1035
22                1036
23                1037
24                1038
25                1039
26                1040

### Task7:

In [28]:
print(b.size)

27